# SERVICES
TICKET_SERVICE_PORT=8081
WORKSPACE_SERVICE_PORT=8082
WEB_SERVICE_PORT=80

# DATABASE
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=kizen

# AUTHENTICATION
BETTER_AUTH_SECRET=DnemU7GHza42UrnI2OllSEWCroJKQWXU
BETTER_AUTH_URL=http://localhost
