# ENVIRONMENT VARIABLES
.env

# GO BUILD CACHE (local sandbox)
.gocache/

# COMPILED GO APPLICATIONS
build/

# TESTS
services/ticket-service/test_cases
web.legacy/
services/ticket-service/internal/service/service_test.legacy
