openapi: 3.1.0
info:
  title: Kizen API
  version: 1.0.0
  description: Single-tenant freelance project manager and time-tracker.
  contact:
    name: samRaina
servers:
  - url: http://kizen.dev/api/v1
    description: Local self-hosted Kizen server

paths:
  /workspaces:
    post:
      tags: [ Workspaces ]
      summary: Create a new workspace
      operationId: createWorkspace
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateWorkspaceRequest'
      responses:
        '201':
          description: |
            Created. The response is the complete workspace. Including the
            server-assiged identifier, and expanded summaries.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workspace'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalError'
  #   get:
  #     tags: [ Workspaces ]
  #     summary: List workspaces
  #     operationId: listWorkspaces
  #     responses:
  #       '200':
  #         description: All workspaces, newest first.
  #         content:
  #           application/json:
  #             schema:
  #               type: array
  #               items:
  #                 $ref: '#/components/schemas/Workspace'
  #       '500':
  #         $ref: '#/components/responses/InternalError'

  # /workspaces/{id}:
  #   get:
  #     tags: [ Workspaces ]
  #     summary: Get a workspace by id
  #     operationId: getWorkspace
  #     parameters:
  #       - name: id
  #         in: path
  #         required: true
  #         schema:
  #           type: string
  #           format: uuid
  #     responses:
  #       '200':
  #         description: The workspace.
  #         content:
  #           application/json:
  #             schema:
  #               $ref: '#/components/schemas/Workspace'
  #       '404':
  #         $ref: '#/components/responses/NotFound'
  #       '500':
  #         $ref: '#/components/responses/InternalError'

components:
  schemas:
    # --- Entities ---
    Workspace:
      type: object
      required:
        - id
        - name
        - default_hourly_rate
        - created_at
        - updated_at
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        default_hourly_rate:
          type: integer
          description: baseline rate
        description:
          type: string
          nullable: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    # --- Create/Update Payloads ---
    CreateWorkspaceRequest:
      type: object
      required: [ name, default_hourly_rate ]
      properties:
        name:
          type: string
          minLength: 1
        default_hourly_rate:
          type: integer
          minimum: 0
        description:
          type: string
          nullable: true

    # --- Error Payloads (RFC 9457) ---
    ProblemDetail:
      type: object
      description: |
        RFC 7807 Problem Details. The error shape for every non-2xx response
        in the API. `type` names the error class; `errors` (validation only)
        maps field names to human-readable messages.
      required:
        - title
        - status
      properties:
        type:
          type: string
          format: uri
          description: A URI reference that identifies the problem type.
          default: about:blank
        title:
          type: string
          description: A short, human-readable summary of the problem type.
        status:
          type: integer
          description: The HTTP status code generated by the origin server for this
            occurrence of the problem.
        detail:
          type: string
          description: A human-readable explanation specific to this occurrence of the
            problem.
        instance:
          type: string
          format: uri
          description: A URI reference that identifies the specific occurrence of the
            problem.
      additionalProperties: true
  responses:
    BadRequest:
      description: |
        Malformed request or validation failure. Malformed JSON, unknown
        fields, invalid enum values, bad UUIDs, and rule violations (e.g. an
        empty PATCH) all land here. Field-level detail in `Problem.errors`.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/ProblemDetail'
    # Unauthorized:
    #   description: Not authenticated. The session cookie is missing or invalid.
    #   content:
    #     application/problem+json:
    #       schema:
    #         $ref: '#/components/schemas/ProblemDetail'
    # Forbidden:
    #   description: |
    #     Authenticated but not permitted.
    #   content:
    #     application/problem+json:
    #       schema:
    #         $ref: '#/components/schemas/ProblemDetail'
    # NotFound:
    #   description: |
    #     The referenced resource does not exist — or exists but is invisible
    #     to the caller (deliberately indistinguishable to avoid leaking
    #     existence).
    #   content:
    #     application/problem+json:
    #       schema:
    #         $ref: '#/components/schemas/ProblemDetail'
    InternalError:
      description: |
        Unexpected server failure. The response deliberately carries no
        internal detail; correlate via the request id in server logs.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/ProblemDetail'
